In [1]:
import os
os.chdir(r'G:\Ext_Disk_SharedFolder\Career\Oracle\ADW Challenge - Candidate Pack')
os.getcwd()
import pandas as pd

In [2]:
Deliveries = pd.read_excel('PCW15 F Deliveries.xlsx')

In [4]:
Deliveries.head()

,Order #,Units,Delivery Date,Order Date,Delivery Store Id,Days to Deliver
0,Ord 0001,52,2012-08-02,2012-08-01,1,1
1,Ord 0002,38,2012-08-04,2012-08-01,2,3
2,Ord 0003,40,2012-08-05,2012-08-01,3,4
3,Ord 0004,50,2012-08-05,2012-08-01,4,4
4,Ord 0005,20,2012-08-04,2012-08-01,5,3

In [9]:
Deliveries.shape

(12932, 6)

In [10]:
# Order numbers are not duplicated
Deliveries['Order #'].value_counts().sum()

12932